@theme {
  /* color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-5: #f2f2f2;
  --color-gray-10: #e7e7e7;
  --color-gray-15: #dadada;
  --color-gray-20: #cecece;
  --color-gray-30: #b6b6b6;
  --color-gray-40: #9d9d9d;
  --color-gray-50: #858585;
  --color-gray-60: #6c6c6c;
  --color-gray-70: #545454;
  --color-gray-80: #3b3b3b;
  --color-gray-90: #232323;
  --color-gray-100: #0a0a0a;
  --color-primary-1: #1f2937;
  --color-primary-2: #183f96;
  --color-primary-3: #4bafff;
  --color-primary-4: #90caf9;
  --color-primary-5: #dbeafe;
  --color-primary-hover: #364861;
  --color-secondary-1: #e3f2fd;
  --color-secondary-2: #f5f9ff;
  --color-secondary-3: #f8fafc;
  --color-accent-error: #eb2525;

  /* fonts */
  --font-pretendard: "Pretendard";
  --font-jalnan: "yg-jalnan";
}
