@layer base {
  @media (min-width: 0px) and (max-width: 767px) {
    .h1-b {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 2.5rem;
    }

    .h2-b {
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 2rem;
    }

    .h3-b {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.75rem;
    }

    .h4-b {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    .body-large-b {
      font-size: 0.9375rem;
      font-weight: 700;
      line-height: 1.375rem;
    }

    .body-large-m {
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1.375rem;
    }

    .body-large-r {
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.375rem;
    }

    .body-b {
      font-size: 0.8125rem;
      font-weight: 700;
      line-height: 1.1875rem;
    }

    .body-m {
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1.1875rem;
    }

    .body-r {
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.1875rem;
    }

    .caption-b {
      font-size: 0.6875rem;
      font-weight: 700;
      line-height: 1rem;
    }

    .caption-m {
      font-size: 0.6875rem;
      font-weight: 500;
      line-height: 1rem;
    }

    .caption-r {
      font-size: 0.6875rem;
      font-weight: 400;
      line-height: 1rem;
    }
  }
}

@layer base {
  @media (min-width: 768px) and (max-width: 1920px) {
    .h1-b {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3rem;
    }

    .h2-b {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.25rem;
    }

    .h3-b {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.875rem;
    }

    .h4-b {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    .body-large-b {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    .body-large-m {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    .body-large-r {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
    }

    .body-b {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.3125rem;
    }

    .body-m {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.3125rem;
    }

    .body-r {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.3125rem;
    }

    .caption-b {
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1.125rem;
    }

    .caption-m {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.125rem;
    }

    .caption-r {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1.125rem;
    }
  }
}
